<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <title>Document</title>
	<style type="text/css"> 
		*{
		    margin : 0;
		    padding: 0;
		    box-sizing: border-box;
		   
		    list-style: none;
		}
		 
		body{
		    background: linear-gradient(
		        90deg,
		        rgba(252, 0, 0, 0.87) 25%,
		        rgb(128, 128, 255)73%);
		    font-family: Arial, Helvetica, sans-serif;
		}
		.container {
		max-width: 1100px;
		margin: 0 auto;
		}
		.back {
		    padding: 35px 0;
		    background-color:#2A394F ;
		}
		.menu{
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    z-index: 1000;
		}
		.logo {
		    font-size: 25px;
		    color: #1544F9;
		    font-weight: 800;
		    text-decoration: none;
		    text-transform: uppercase;
		    margin-bottom: 15px
		}
		.menu .navbar ul li{
		    position: relative;
		    float: left;
		}
		.menu .navbar ul li a{
		    font-size: 18px;
		    padding: 20px;
		    color: #FFFFFF;
		    display: block;
		    text-decoration: none;
		}
		.menu .navbar ul li a:hover{
		    color: rgba(186, 251, 34, 0.753);
		}
		#menu{
		    display: none;
		}
		.menu-icono{
		    width: 50px;
		}
		.menu label {
		    cursor: pointer;
		    display: none;
		}
	</style>
	
</head>
<body>

    <header>
            <div class="back">
                <div class="menu container">
                    <a href="#" class="logo">Logo</a>
                    <input type="checkbox" id="menu"/>
                    <label for="menu">
                        <img src="imag/descarga.png" class="menu-icono">
                    </label>
                    <nav class="navbar">
                        <ul>
                            <li><a href="#" >Menu Principal</a></li>
                            <li><a href="#" >Nosotros</a></li>
                            <li><form method="post" th:action="@{/logout}"> 
								<input type="submit" class="btn btn-success" value="Cerrar sesión">
					  </form></li>
                        </ul>
                    </nav>
                </div>
            </div>
    </header>

    <!-- ============= Home Section =============== -->
   <div class="container">
               
       <h3 class="text-center mt-4">LISTA DE SUBORDINADOS</h3>
   <div class="btn-nuevo">
       <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalEmpleado" id="btn-nuevo">
           <i class="far fa-file"></i> Nuevo Subordinado
       </button>
   </div>
       <div class=" mt-2">

           <table class="table table-striped table-bordered mt-5" id="tableMedicamentos">
               <thead>
                   <tr>
                       <th>Id</th>
                       <th>DNI</th>
                       <th>Nombre</th>
                       <th>Apellido</th>
                       <th>Rol</th> 
                       <th>telefono</th> 
                       <th>Username</th>  
                       <th></th>
                       <th></th>
                   </tr>
               </thead>
               <tbody>
                   <tr th:each="row:${users}">
                       <!--el simbolo $ es para recuperar del controller ...row es un objeto de Medicamento-->
                       <td th:text="${row.id}"></td>
                       <td th:text="${row.DNI}"></td>
                       <td th:text="${row.nombre}"></td>
                       <td th:text="${row.apellido}"></td>
                       <td th:text="${row.rol}"></td>
					   <td th:text="${row.telefono}"></td>
                       <td th:text="${row.username}"></td>
                       <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalEmpleado"><i
                                   class="far fa-edit"></i></a></td>
                       <td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
                   </tr>
               </tbody>
           </table>
       </div>
<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
<div class="modal fade" id="modalEmpleado" data-backdrop="static" data-keyboard="false" tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
           <div class="modal-header bg-blue-darker">
               <h4 class="modal-title text-white">Empleado</h4>
           </div>
           <div class="modal-body">
               <form method="POST" id="idRegistra" th:action="@{/users}">
                   <!-- cambia el hidden-->
                   <input type="hidden" value="0" name="codigo" id="idCodigo">
                   <div class="form-group">
                       <label for="idNombre"><b>DNI</b></label>
                       <input type="text" class="form-control" id="idDni" placeholder="Ingresar DNI" name="dni">
                   </div>
                   <div class="form-group">
                       <label for="idNombre"><b>Nombre</b></label>
                       <input type="text" class="form-control" id="idNombre" placeholder="Ingresar nombre" name="nombre">
                   </div>
                   <div class="form-group">
                       <label for="idApellido"><b>Apellido</b></label>
                       <input type="text" class="form-control" id="idApellido" placeholder="Ingresar apellido" name="apellido">
                   </div>
                   <div class="form-group">
                       <label for="idCargo"><b>Login</b></label>
                       <input type="text" class="form-control" id="idLogin" placeholder="Ingresar login" name="login">
                   </div>
                   <div class="form-group">
                       <label for="idTelefono"><b>Password</b></label>
                       <input type="password" class="form-control" id="idPassword" placeholder="Ingresar teléfono" name="password">
                   </div>
                   <div class="form-group">
                       <label for="idTelefono"><b>Teléfono</b></label>
                       <input type="text" class="form-control" id="idTelefono" placeholder="Ingresar teléfono" name="telefono">
                   </div>
                   <div class="form-group">
                       <label for="idCorreo"><b>Correo</b></label>
                       <input type="text" class="form-control" id="idCorreo" placeholder="Ingresar correo" name="correo">
                   </div>
                   <div class="form-group">
                       <label for="idZona"><b>idZona</b></label>
                       <select class="form-control" id="idZona" name="zona">
                           <option th:each="row:${zonas}" th:value="${row.id}" th:text="${row.nombre}" />
                       </select>
                   </div>
                   <div class="col-md-12 text-center mt-4">
                       <button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
                       <button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
<!-- FIN Modal MEDICAMENTO-->
 	



   <!-- index js-->
<script type="text/javascript">
   $(document).ready(function(){
       //jquery for toggle sub menus
       $('.sub-btn').click(function(){
           $(this).next('.sub-menu').slideToggle();
           $(this).find('.dropdown').toggleClass('rotate');
       });

   });
</script>
   <!-- fin index js-->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
      <script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
      <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
      <script th:src="@{/resources/alertifyjs/alertify.js}"></script>
      <script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>



   <script th:inline="javascript" th:if="${MENSAJE!=null}">
       //leer atributo MENSAJE
       let msj = /*[[${MENSAJE}]]*/

           toastr.success(msj, toastr.options = {
               "timeOut": "2000",
               "positionClass ": " toast-top-right ",
           });
   </script>

   <script>
       //asignar evento click a todos los botones con clase "btn-editar"
       $(document).on('click', ".btn-editar", function () {
           //variable
           var cod;
           //almacenar el còdigo del medicamento segun el botòn editar que se seleccionò
           cod=$(this).parents("tr").find("td")[0].innerHTML;
           //funciòn get de JQUERY
           $.get("/users/"+cod,function(response){
               //asignar valores a las cajas usando el atributo "ID"
           
               
               $("#idCodigo").val(response.id);
               $("#idDni").val(response.dni);
               $("#idNombre").val(response.nombre);
               $("#idApellido").val(response.apellido);
               $("#idLogin").val(response.login);
               $("#idTelefono").val(response.telefono);
               $("#idCorreo").val(response.email);
               $("#idZona").val(response.idZona);
               
           })

       })
       
       //asignar evento click al botòn con id "btn-cerrar"
       $(document).on("click", "#btn-cerrar",function(){
           //resetear el formulario
           $("#idRegistra").trigger("reset");
           //resetear validacion
           $("#idRegistra").data("bootstrapValidator").resetForm(true);
           
       })



       $('#tableMedicamentos').DataTable();
       $(function () {
           $('#usr1').datepicker({
               'format': 'yyyy-mm-dd',
               'autoclose': true
           });

       });
       $('#usr1').on('changeDate show', function (e) {
           $('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
       });


   </script>

   <script type="text/javascript">
       $(document).ready(function () {

           $('#idRegistra').bootstrapValidator({
               feedbackIcons: {
                   valid: 'glyphicon glyphicon-ok',
                   invalid: 'glyphicon glyphicon-remove',
                   validating: 'glyphicon glyphicon-refresh'
               },
               fields: {

                   Nombres: {
                       selector: '#idNombre',
                       validators: {
                           notEmpty: {
                               message: 'Ingrese nombre'
                           }
                       }
                   },
                   Descripcion: {
                       selector: '#idDescripcion',
                       validators: {
                           notEmpty: {
                               message: 'Ingrese descripción'
                           }
                       }
                   },
                   Stock: {
                       selector: '#idStock',
                       validators: {
                           notEmpty: {
                               message: 'Ingrese stock'
                           },
                           regexp: {
                               regexp: /^[0-9]{1,2}$/,
                               message: 'Campo stock hasta dos cifras'
                           },
                       }
                   },
                   precio: {
                       selector: '#idPrecio',
                       validators: {
                           notEmpty: {
                               message: 'Ingrese precio'
                           },
                           regexp: {
                               regexp: /^(\d+|[0-9]+\.\d{1,2})$/,
                               message: 'Campo precio real hasta dos decimales'
                           },
                       }
                   },
                   Fecha: {
                       selector: '#usr1',
                       validators: {
                           notEmpty: {
                               message: 'Seleccione fecha '
                           },
                           date: {
                               format: 'YYYY-MM-DD',
                               message: 'The format is dd/mm/yyyy'
                           },
                       }
                   },
                   Tipo: {
                       selector: '#idTipo',
                       validators: {
                           notEmpty: {
                               message: 'Seleccione tipo medicamento'
                           },
                       }
                   }
               }
           })
       });    
   </script>
   
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>